﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="CTT224Lab01Bai_Tap_GIT.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        
        MSSV: 1212019<br />
        Họ tên: Nguyễn Trần Duy Bảo<br />
        Email: 1212019@student.hcmus.edu.vn<br />
        SĐT: +84 938 57 58 61</br>
        Sinh Nhật: 18/06/1994</br>
        Ảnh đại diện: <br />
        <img src="ProfilePicture.jpg" />
    </div>
    </form>
</body>
</html>
